@import "variables";
@import "mixines";

.footer-section {
  width: 100%;
  min-width: 320px;
  background: url("../img/footer_background.png") no-repeat;
  background-size: cover;
  padding: 0 10px 12px;
}

.footer-section__title {
  text-align: center;
  @include textStyle-Montserrat(700, 28px, 42px, $color-white);
  margin-bottom: 32px;
}

.footer-section__pricing-list {
  @include displayFlex(column, nowrap, center, center);
  row-gap: 18px;
}

.footer-section__pricing-item {
  list-style: none;
  width: 100%;
  max-width: 257px;
  padding-bottom: 36px;
  text-align: center;
  background: $color-whiteOpacity11;
  &:last-child{
    padding-bottom: 39px;
  }
  .pricing-item__title-container {
    width: 100%;
    padding: 36px 0;
    margin-bottom: 30px;
    background: $color-whiteOpacity06;
    mix-blend-mode: normal;
    .pricing-item__title {
      @include textStyle-Montserrat(400, 24px, 24px, $color-white);
      text-transform: uppercase;
      text-align: center;
    }
  }
  .pricing-item__price {
    margin-bottom: 20px;
    @include textStyle-Montserrat(700, 60px, 90px, $color-white);
    span {
      @include textStyle-Montserrat(400, 60px, 90px, $color-white);
    }
  }
  .pricing-item__price-text {
    @include textStyle-Montserrat(400, 14px, 16px, $color-white);
    text-transform: uppercase;
    &::after {
      display: block;
      width:60px;
      margin: 38px auto 30px;
      content: '';
      border-bottom: 5px solid $color-8D81AC;
    }
  }
  .pricing-item__price-description {
    @include textStyle-Montserrat(400, 16px, 18px, $color-white);
    margin-bottom: 37px;
  }
  .pricing-item__btn {
    width: 163px;
    padding: 15.5px 0 14.5px;
    background: $color-whiteOpacity15;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    .pricing-item__btn-title {
      @include textStyle-Montserrat(400, 15px, 15px, $color-white);
      text-transform: uppercase;
    }
  }
  &.active {
    padding-bottom: 47px;
    max-width: 299px;
    background: $color-463048-opacity84;
    .pricing-item__title-container {
      padding: 43px 0;
      margin-bottom: 14px;
      background: $color-blackOpacity11;
      mix-blend-mode: normal;
    }
    .pricing-item__price {
      margin-bottom: 16px;
      @include textStyle-Montserrat(700, 82px, 90px, $color-white);
      span {
        @include textStyle-Montserrat(400, 82px, 90px, $color-white);
      }
    }
    .pricing-item__price-text::after {
      display: block;
      width:60px;
      margin: 46px auto 40px;
      content: '';
      border-bottom: 5px solid $color-8D81AC;
    }
    .pricing-item__price-description {
      @include textStyle-Montserrat(400, 16px, 32px, $color-white);
      margin-bottom: 83px;
    }
    .pricing-item__btn {
      width: 190px;
      padding: 18.5px 0 18.5px;
      .pricing-item__btn-title {
        @include textStyle-Montserrat(400, 16px, 18px, $color-white);
      }
    }
  }
}

@media (min-width: 481px) {
  .footer-section {
    padding: 12.762% 10px 12.24%;
  }
  .footer-section__title {
    @include textStyle-Montserrat(700, 42px, 44px, $color-white);
    margin-bottom: 39px;
  }
  .footer-section__pricing-list {
    display: grid;
    grid-template-columns: minmax(auto, 299px) minmax(auto, 257px);
    grid-template-rows: 46% 50%;
    column-gap: 25px;
    row-gap: 30px;
    justify-items: center;
  }
  .footer-section__pricing-item:last-child{
    padding-bottom: 36px;
  }
  .footer-section__pricing-item:first-child{
    justify-self: end;
  }
  .pricing-item__price-description {
    min-height: 44px;
  }
}

@media (min-width: 993px) {
  .footer-section {
    padding: 114px 10px 73px;
  }
  .footer-section__title {
    @include textStyle-Montserrat(700, 48px, 50px, $color-white);
    margin-bottom: 61px;
  }
  .footer-section__pricing-list {
    display: grid;
    grid-template-columns: minmax(auto, 257px) minmax(auto, 257px) minmax(auto, 299px) minmax(auto, 257px);
    grid-template-rows: 100%;
    column-gap: 15px;
    row-gap: unset;
  }
}