$color-violet: #8d81ac;
$color-white: #fff;
$color-grey: #848e97;
$color-grey-light: #a291a5;
$color-4E4E4E: #4e4e4e;
$color-848E97: #848E97;
$color-323232: #323232;
$color-635C73: #635C73;
$color-4Eopacity2: rgba(78, 78, 78, 0.2);
$color-8D81AC: #8D81AC;
$color-whiteOpacity06: rgba(255, 255, 255, 0.06);
$color-whiteOpacity11: rgba(255, 255, 255, 0.11);
$color-whiteOpacity15: rgba(255, 255, 255, 0.15);
$color-463048-opacity84: rgba(70, 48, 72, 0.84);
$color-blackOpacity11: rgba(0, 0, 0, 0.11);
$color-borderGrey: #8080809c;